:root {
   --zona-para-color: #999da6;
   --zona-white: #fff;
   --zona-black: #000;
   --zona-gray: #767a85;
}

.pricing {
   padding: 0 0 120px 0;
}

.pricing > p {
   margin-top: 12px;
   color: var(--zona-para-color);
   max-width: 420px;
   margin-left: auto;
   margin-right: auto;
}

.pricing__boxes {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   margin: 80px auto 0 auto;
   max-width: 806px;
}

.pricing__box {
   box-shadow: 10px 14px 84px 0px #0000001a;
   background-color: var(--zona-white);
   border-radius: 20px;
   padding: 0;
   position: relative;
   min-height: 500px;
}

.pricing__box.premium {
   background-color: var(--zona-white);
   padding: 0;
}

.pricing__box .pricing__box__items__top {
   padding: 20px 30px 0 30px;
   border-radius: 20px 20px 0 0;
}

.pricing__box.premium .pricing__box__items__top {
   background: linear-gradient(133.04deg, #de35ff -3.93%, #3a65ff 65.78%, #16f1ff 104.34%);
}

.pricing__box .pricing__box__items {
   padding: 24px 30px;
}

.pricing__box .pricing__box__items__bottom {
   padding: 24px 30px;
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 0;
   width: 85%;
}

.pricing__box__items__bottom .btn {
   padding: 0 20px;
   height: 48px;
   font-size: 14px;
   display: inline-flex;
}

.pricing__box h4 {
   font-size: 24px;
   font-weight: 500;
   line-height: 36px;
   letter-spacing: -0.03em;
}

.pricing__box h3 {
   font-size: 52px;
   font-weight: 500;
   line-height: 78px;
   padding: 20px 0;
   display: flex;
   align-items: center;
   gap: 10px;
}

.pricing__box span {
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   letter-spacing: -0.03em;
}

.pricing__box__items {
   padding: 24px 0;
}

.pricing__box__items > p {
   display: flex;
   gap: 10px;
}

.pricing__box__items > p:first-of-type ~ p {
   margin-top: 16px;
}

.pricing__box__items__bottom {
   padding: 24px 0;
   border-top: 1px solid #e8e8e8;
}

.pricing--bg--white {
   background-color: var(--zona-white);
   border-radius: 20px;
}

@media screen and (max-width: 980px) {
   .pricing {
      padding: 0 0 60px 0;
   }

   .pricing__boxes {
      grid-template-columns: 1fr;
      margin: 42px auto 0 auto;
   }
}
